#container{
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px dashed rgb(0, 0, 0);
    background-color: rgb(179, 208, 222);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    color: rgb(126, 126, 126);
}

/* //////  section : search  ///////*/

#search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    padding-right: 10px;
}
#search form {
    margin: 0;
    flex: 1; /* ensures it fills space next to svg */
  }
#search-svg{
    padding-left: 5px;
    width: 30px;
}

#search input{
    width: 70%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

#search button{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    color: white;
    background-color: rgb(0, 119, 255);
}

/* //////  section : result  ///////*/

#user-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;  /* takes full width */
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: white;
  }

      /*////    photo+info     ////*/

  
.profile-header {
    display: flex;
    flex-direction: row;   /* put photo + info side by side */
    align-items: center;
}
#profile{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#user-info img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}
      /* ////////    bio  /////////*/

#bio{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: white;
}
#stats{
    display: flex;
    gap: 30px;
    justify-content:space-evenly;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 0 20px;
    font-weight: bold;
}
#stats p{
    text-align: center;
}

/*  //////      socials    ////   */

#socials{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    
}
.social{
    display: flex;
    height: 35px;
}
#socials img{
    width: 20px;
    height: 20px;
}
.social p{
    margin: 0;
    padding-top: 5px;
    align-content:center
}